<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clientes | Bebeeco 4D</title>
    <!-- PRIMERO TODA LA LIBRERIA DE JQUERY -->

    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="js/lib/jquery-ui.min.css">
    <link rel="stylesheet" href="js/lib/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="js/lib/jquery-ui.theme.min.css">
    <!-- LA LIBRERIA DE UI- MIN -->
    <script src="js/lib/jquery-ui.min.js"></script>

    <!-- POR ULTIMO NUESTRO JS Y CSS o BOOTSTRAP -->
    <script src="js/bebeeco.js"></script>
    <script src="js/clientes.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <div class="container">
        <h2 class="text-center">Clientes</h2>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Eliminar</th>
                    <th scope="col">Cambiar Nombre</th>
                </tr>
            </thead>
            <tbody id="listaClientes">
            </tbody>
        </table>
    </div>

</body>

</html>