<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clientes | Bebeeco 4D</title>
    <!-- PRIMERO TODA LA LIBRERIA DE JQUERY -->

    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="js/lib/jquery-ui.min.css">
    <link rel="stylesheet" href="js/lib/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="js/lib/jquery-ui.theme.min.css">
    <!-- LA LIBRERIA DE UI- MIN -->
    <script src="js/lib/jquery-ui.min.js"></script>
    <script src="js/lib/bootstrap/bootstrap.min.js"></script>

    <!-- POR ULTIMO NUESTRO JS Y CSS o BOOTSTRAP -->
    <script src="js/bebeeco.js"></script>
    <script src="js/clientes.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Bebe<span class="text-info">eco4D</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Informacion
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/informacion">¿Que es 4D?</a>
                        <a class="dropdown-item" href="/informacion">¿Alguna Duda?</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Franquiciate</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tarifas">Tarifas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/datosclientes">Clientes
                            <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- CLIENTES -->
    <div class="container">
        <h2 class="text-center">Clientes</h2>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Eliminar</th>
                    <th scope="col">Cambiar Nombre</th>
                </tr>
            </thead>
            <tbody id="listaClientes">
            </tbody>
        </table>
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="container-fluid bg-light">
            <div class="row text-muted text-center p-3">
                <div class="col-12 col-md-4 p-3">
                    <h6>CONTACTO</h6>
                    <p>Tlf.:
                        <span class="text-info">999-999-999</span>
                    </p>
                    <p>email:
                        <span class="text-info">info@bebeeco4d.com</span>
                    </p>
                </div>
                <div class="col-12 col-md-4 p-3">
                    <h6>REDES</h6>
                    <a href="#">
                        <img src="img/icon/facebook.png" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="img/icon/twitter.png" alt="twitter">
                    </a>
                </div>
                <div class="col-12 col-md-4 p-3">
                    <h6>MENU</h6>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-info" href="/">Inicio
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-info" href="/informacion">
                                Informacion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="/tarifas">Tarifas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="/contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="datosclientes">Clientes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>