<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informacion | Bebeeco 4D</title>
    <!-- PRIMERO TODA LA LIBRERIA DE JQUERY -->

    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="js/lib/jquery-ui.min.css">
    <link rel="stylesheet" href="js/lib/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="js/lib/jquery-ui.theme.min.css">
    <!-- LA LIBRERIA DE UI- MIN -->
    <script src="js/lib/jquery-ui.min.js"></script>
    <script src="js/lib/bootstrap/bootstrap.min.js"></script>

    <!-- POR ULTIMO NUESTRO JS Y CSS o BOOTSTRAP -->
    <script src="js/bebeeco.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bebe
            <span class="text-info">eco4D</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Informacion
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/informacion">¿Que es 4D?</a>
                        <a class="dropdown-item" href="/informacion">¿Alguna Duda?</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Franquiciate</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tarifas">Tarifas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="datosclientes">Clientes</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- QUIENES SOMOS -->
    <div class="container">
        <div class="container text-center">
            <h2 class="text-info text-center">¿QUIENES SOMOS?</h2>
            <img src="img/Foto-portada.jpg" alt="" class="img-fluid">
            <p class="text-justify">
                Bebeeco 4D es una empresa joven que nace en Málaga en el año 2013 con el fin de satisfacer la ilusión y la emoción de las
                futuras familias.
                <br> Bebeeco 4D es de las primeras franquicias especializadas en la realización y comercialización de la eocgrafía
                emocional utilizando las últimas tecnologías del mercado.
                <br> Mostramos imágenes y movimientos del bebé en tiempo real, sin perjuicio para la salud del bebé ni de la
                gestante, es una técnica sencilla, inocua e indolora. La calidad, profesionalidad, garantía y experiencia
                son los pilares sobre los que se asienta Bebeeco 4D.
            </p>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h2 class="text-info text-center">¿QUE ES UNA ECO 4D</h2>
                <img src="img/foto-info.jpg" alt="" class="img-fluid">
                <p class="text-justify">Una ecografía 4D es un video en tiempo real, en vivo, in situ. No es una simple ecografía en fotografía.
                    Las ecografías se realizarán a través del abdomen.
                    <br> Las imágenes se obtienen mediante un transductor que envía las ondas sonoras y un gel que sirve como
                    transmisor. Una vez en nuestras instalaciones o en el domicilio, con la futura mamá cómodamente tumbada
                    en una camilla, empezaremos la sesión realizándole una grabación en 4D para visualizar al bebé en volumen
                    y movimiento.
                    <br> En ella se podrá apreciar con nitidez y en tiempo real su cara, brazos, manos, piés, dedos. También
                    podrá verse, por ejemplo, si el bebé se chupa el dedo, si realiza gestos con la cara, bosteza, juega
                    con el cordón umbilical o si mueve los brazos o las piernas entre otras cosas.</p>
            </div>
            <div class="col-12 col-lg-4">
                <h2 class="text-info text-center">PREGUNTAS FRECUENTES</h2>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Riesgo en ecografía 3D – 4D/5D
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                La ecografía obstétrica 3D, 4D y 5D no implica ningún riesgo. A lo largo de los últimos años no se han encontrado evidencias
                                de que las ecografías perjudiquen a los bebés, por el contrario nos aporta mucha información
                                sobre su estado.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed text-info" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Preparación para ecografía 4D/5D
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Seguir unos simples consejos. No utilizar crema hidratante en el abdomen al menos 24 horas antes de realizar la ecografía
                                para facilitar que el gel que se utiliza tenga buen fluido y tomar algo de glucosa (zumos,
                                dulces, algún bombón) para activar al bebé y poder disfrutar de un momento más enriquecedor,
                                siempre que no tenga prescrito lo contrario por su facultativo médico.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed text-info" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    ¿Se asegura ver al bebe?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Debido a los buenos avances tecnológicos los porcentajes de visionar con claridad al bebé son muy altos. En Bebeeco4D os
                                damos la oportunidad que en caso de no ver el rostro de vuestro bebé, se os repetirá la ecografía
                                en otra nueva cita sin coste si la promoción adquirida incluye la grabación de la sesión
                                (video de la sesión).
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed text-info" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    Hoja de consentimiento
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Es un formato explicativo donde indicamos el procedimiento que realizaremos, dejando claro que es una ecografía lúdica y
                                no de diagnóstico, que los progenitores están informados del procedimiento y que sus datos
                                al igual que los de su bebé están protegidos. Dicho consentimiento podrán leerlo con anterioridad.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="container-fluid bg-light">
            <div class="row text-muted text-center p-3">
                <div class="col-12 col-md-4 p-3">
                    <h6>CONTACTO</h6>
                    <p>Tlf.:
                        <span class="text-info">999-999-999</span>
                    </p>
                    <p>email:
                        <span class="text-info">info@bebeeco4d.com</span>
                    </p>
                </div>
                <div class="col-12 col-md-4 p-3">
                    <h6>REDES</h6>
                    <a href="#">
                        <img src="img/icon/facebook.png" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="img/icon/twitter.png" alt="twitter">
                    </a>
                </div>
                <div class="col-12 col-md-4 p-3">
                    <h6>MENU</h6>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-info" href="/">Inicio
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-info" href="/informacion">
                                Informacion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="/tarifas">Tarifas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="#">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="datosclientes">Clientes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>